{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "student/css/main.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "student/css/feedback.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "student/css/notify_box.css" %}" />
    <link rel="shortcut icon" type="image/ico" href="{% static "favicon.ico" %}" />
    <title>{% block title %}TITLE NOT SET{% endblock %}</title>
    <script type="text/javascript" src="{% static "student/js/channels_notify.js" %}"></script>
</head>
<body>
    {% block header %}
        <nav>
            <div id="nav_title">
                <h1>{% block headertitle %}Student Peer Assessment Site{% endblock %}</h1>
                <div id="breadcrumbs">
{% block crumbs %}{% for title, url in crumbs %}<span> &gt; <a href="{{ url }}">{{ title }}</a></span>{% endfor %}{% endblock %}</div>
            </div>
            <button id="note_count" onclick="toggle_notes_status()">Notifications (0)</button>
            <div id="note_messages_container" class="collapsed">
            </div>
            {% if request.user %}
                <div id="userMenu">
                    <a href="#userMenu">{{ request.user }} 🔽</a>
                    <a href="{% url 'logout'%}">Log out</a>
                </div>
            {% else %}
                <div id="userMenu"><a href="#userMenu">Not logged in</a></div>
            {% endif %}
        </nav>
    {% endblock %}
    <main>
        {% block content %}
            No content. Click here to go back to homepage:
            <a href="/student">Homepage</a>
        {% endblock %}
    </main>
    {% block footer %}
        <footer>H0015298 | Heriot-Watt University</footer>
    {% endblock %}
</body>
</html>