{% extends "student/base.html" %}
{% block title %}Choose a Coursework{% endblock %}
{% block content %}
    {% if courseworks %}
        {% for id, state, course, title in courseworks %}
            <p><a href="/student/cw/{{ id }}" class="coursework coursework_{{ state }}"
            >{{ course }}:
                {{ title }}</a></p>
        {% endfor %}
    {% else %}
        <div>No courseworks available right now</div>
    {% endif %}
{% endblock %}