{% extends "student/base.html" %}
{% block title %}Detail Coursework{% endblock %}
{% block content %}
    <h1>{{ cw.course.id }}: {{ cw.name }}</h1>
    <p>View descriptor at: <a href="{{ cw.descriptor }}">{{ cw.descriptor }}</a> </p>
    <p>Available tasks:</p>

    <ul>
    {% if solution_url %}
        <li><a href="{% url 'render_file' solution_url %}">View my Solution</a></li>

        {% if test_url %}
            <li><a  href="{% url 'render_file' test_url %}">View my test case</a></li>

            {% if test_results_url %}
                <li><a  href="{% url 'render_file' test_results_url %}">View test results</a></li>

                {% if feedback_results_url %}
                    <li><a  href="{% url 'render_file' feedback_results_url %}">View feedback for results</a></li>
                    <li><a  href="{% url 'feedback' test_data %}">Combined View</a></li>
                {% else %}
                    {% if subs_open %}
                        <li><a  href="{% url 'feedback' test_data %}">Submit feedback for results</a></li>
                    {% endif %}
                {% endif %}

            {% else %}
                <li>Please wait while your test case is run against a solution</li>

            {% endif %}

        {% else %}
            {% if subs_open %}
                <li><a  href="{% url 'test' cw.id %}">Submit test case</a></li>
            {% endif %}
        {% endif %}

    {% else %}
        {% if subs_open %}
            <li><a  href="{% url 'solution' cw.id %}">Submit Solution</a></li>
        {% endif %}
    {% endif %}
    </ul>
    <p></p>
    <p>Feedback for my solution:</p>
    <ul>
    {% if own_feedback_data %}
        <li><a  href="{% url 'feedback' own_feedback_data %}">View feedback for my solution</a></li>
    {% else %}
        <li>You do not yet have feedback for your own solution</li>
    {% endif %}
    </ul>
{% endblock %}