{% extends "student/base.html" %}
{% block title %}Detail Coursework{% endblock %}
{% block content %}
    <h1>{{ cw.course.code }}: {{ cw.name }}</h1>
    <p>Attached files:</p>
    <ul>
    {% for sub, files in descriptors %}
        {% for file in files %}
        <li><a href="{% url 'download_file' sub.id file %}?show=1">{{ file }}</a></li>
        {% endfor %}
    {% endfor %}
    </ul>

    <h2>Your Tasks:</h2>
    <ul>
    {% if subs_open %}
        <h3>☐ Write your solution</h3>
        <li>You should now develop a solution to the coursework described in the above files.</li>
        <li>You should upload a solution to the website</li>
        <li>You can re-upload a new solution before the deadline</li>
        <li>You are encouraged to write test cases and upload these to the website to test.</li>
        <h4>☐ Test your Peers</h4>
    {% endif %}
    {% if feedback_open %}
        <h4>☑ Write your solution</h4>
        <h3>☐ Test your Peers</h3>
        <li>You should now either use your own test cases, or write new ones to investigate the correctness of your peer’s solution</li>
        <li>You should run these test cases</li>
        <li>You should give feedback on the results</li>
    {% endif %}
    {% if not subs_open and not feedback_open %}
        <h4>☑ Write your solution</h4>
        <h4>☑ Test your Peers</h4>
        This coursework has closed
    {% endif %}
    </ul>

    <p></p>
    <h2>My Submissions</h2>
    {% if subs_open %}
    <a href="{% url 'solution' cw.id %}">(Re-)Submit Solution</a>
    {% endif %}
    {% for sub, files in solution %}
        <h3>{{ sub.student_name }}</h3>
        <ul>
        {% for f in files%}
            <li><a href="{% url 'download_file' sub.id f %}?pretty=1">{{ f }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
    <p></p>
    {% if subs_open %}
    <a href="{% url 'test' cw.id %}">Submit Test Case</a>
    {% endif %}
    {% if feedback_open %}
    <a href="{% url 'test' cw.id %}">Submit Test Case</a>
    {% endif %}
    {% for sub, files, can_del in tests %}
        <h3>{{ sub.student_name }}</h3>
        {% if can_del %}<a href="{% url 'delsub' sub.id %}">Delete this Test Case</a>{% endif %}
        <ul>
        {% for f in files%}
            <li><a href="{% url 'download_file' sub.id f %}?pretty=1">{{ f }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}

    <p></p>
    {% if subs_open %}
        <h2>Testing</h2>
        <p>
            You can run your own tests here
            <br/>
            You can run your own test case against the oracle solution (?) to see the expected output
        </p>
    {% else %}
        <h2>Peer-Testing</h2>
        <p>As well as you, there are (n) peers in your testing group</p>
    {% endif %}
    <form action="{% url 'make_tm_student' cw.id %}" method="POST">
        {% csrf_token %}
        {{ easy_match_form }}
        <input type="submit" value="Run Test" />
    </form>
    <p>View results for running tests:</p>
    <ul>{% for tm in tms %}
        <li>[<a href="{% url 'feedback' tm.id %}">view</a>]
            {{ tm.solution.student_name }} against {{ tm.test.student_name }}</li>
    {% endfor %}</ul>
{% endblock %}