{% extends "student/base.html" %}
{% block title %}Detail Coursework{% endblock %}
{% block content %}
    <h1>{{ name }}</h1>
    <p>View descriptor at: <a href="{{ descript }}">{{ descript }}</a></p>
    <p>Available tasks:</p>
    {% if completed_submit %}
        <span>Submission completed</span>
        {% else %}
        <a href="/student/cw/{{ cwid }}/submit">Submit Solution</a>
    {% endif %}
    <p></p>
    {% if completed_assess %}
        <span>Submission completed</span>
        {% else %}
        <a href="/student/cw/{{ cwid }}/test">Test a classmate's Solution</a>
    {% endif %}
{% endblock %}