{% extends 'student/base.html' %}
{% block title %}Feedback{% endblock %}
{% block content %}
    <div id="feedback_panels">
        <div id="feedback_test" class="feedback_panel">
            <div id="feedback_test_case" class="feedback_frame_view feedback_panel">
                <iframe src="{% url 'render_file' test_data.test.id %}" ></iframe>
            </div>
            <div id="feedback_test_result" class="feedback_frame_view feedback_panel">
                <iframe src="{% url 'show_file' test_data.results.id %}" ></iframe>
            </div>
        </div>
        <div id="feedback_solution" class="feedback_frame_view feedback_panel">
            <iframe src="{% url 'render_file' test_data.solution.id %}"></iframe>
        </div>
    </div>
    {% if can_submit %}
        <form method="POST" action="" id="feedback_form">
            {% csrf_token %}
            <textarea name="feedback" placeholder="Please type some feedback here"></textarea>
            <input type="submit" value="Submit Feedback" />
        </form>
    {% else %}
        <div id="feedback_form" class="feedback_frame_view">
            <iframe src="{% url 'show_file' test_data.feedback.id %}"></iframe>
        </div>
    {% endif %}
{% endblock %}