{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "student/css/main.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "student/css/pygments.css" %}" />
    <link rel="shortcut icon" type="image/ico" href="{% static "favicon.ico" %}" />
    <title>Rendered File</title>
</head>
<body>
{{ content|safe }}
</body>
</html>