<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
</head>
<body>
<div id="log"></div>
<script type="text/javascript">
    function logToPage(o){
        log = document.getElementById('log')
        log.appendChild(document.createElement('p'))
        s = document.createTextNode(o.toString())
        log.appendChild(s);
    }
    logToPage("No server updates");

    var sock = new SockJS('http://localhost:8888/notify');
    sock.onopen = function() {
        logToPage('sockjs object opened');
    };
    sock.onmessage = function(e) {
        logToPage('message received: ' + e.data.toString());
    };
    sock.onclose = function() {
        logToPage('sockjs object closed');
    };

    b = document.createElement('button');
    b.appendChild(document.createTextNode('close'));
    b.onclick = function(){sock.close()};
    document.body.appendChild(b);

    c = document.createElement('button');
    c.appendChild(document.createTextNode('send message to server'));
    c.onclick = function(){sock.send('echo')};
    document.body.appendChild(c);
</script>
</body>
</html>