{% extends "student/base.html" %}
{% block title %}Upload Coursework File{% endblock %}
{% block content %}
<h1>{{ msg }}</h1>
    {% if allow_upload %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ ff }}
    <input type="submit">
</form>
    {% endif %}
{% endblock %}