/*
Styles relating to the panelled feedback page
 & associated forms/iframes students will use
*/

#feedback_panels, #feedback_test, #feedback_form {
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

#feedback_test {
    flex-direction: column;
}

.feedback_panel {
    flex: 2 1 auto;
    padding: 10px;
    box-shadow: inset #edecd6 5px 5px;
    min-width: 50%;
}

#feedback_form {
    height: 100px;
}

#feedback_form textarea {
    flex-grow: 4;
    height: 100%;
}

#feedback_form input {
    flex-grow: 1;
    min-width: 80px;
    height: 100%;
}

.feedback_frame_view iframe {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}