/* Basic styling to be applied to all pages */

html, body{
    padding: 0;
    margin: 0 auto;
    background: #fdfdfd;
    font-family: Georgia, 'Nimbus Roman No9 L', serif;
    min-height: 100%;
    width: 100%;
    max-width: 1800px;
}

nav {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}

#nav_title {
    float: left;
    margin: 0;
    height: 40px;
}

#nav_title h1 {
    margin: 0;
}

#nav_title div{
    float: left;
    margin-left: 10px;
}

nav div {
    float: right;
}

footer{
    margin-top: 15px;
    width: 100%;
    height: 20px;
}

/*
*:hover {
    box-shadow: inset indigo 0 0 1px 1px;
}
*/

main {
    height: calc(100% - 40px - 20px)
}