/* Styling relevant to the notifications box */

#note_messages_container{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: absolute;
    top: 20px;
    right: 10px;
    border: 1px solid blue;
    background: white;
}

.note {
    display: block;
    width: 100%;
}

#note_messages_container.collapsed {
    display: none;
}

#note_messages_container.opened {
    display: flex;
}

#note_count {
    float: right;
}