{% extends "teacher/base.html" %}
{% block title %}View Course{% endblock %}
{% block content %}
<h1>Coursework Details for {{ coursework.name }}:</h1>
<form method="POST" action="">
    {% csrf_token %}
    {{ cw_form }}
    <input type="submit" value="Save">
</form>
<p></p>
    <h1>Coursework Files</h1>
    <table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Filepath</th>
        <th>Creator</th>
        <th>Type</th>
        <th>View</th>
    </tr>
    </thead>
    {% for f in files %}
        <tr>
        <td>{{ f.id }}</td>
        <td>{{ f.file }}</td>
        <td>{{ f.creator }}</td>
        <td>{{ f.type }}</td>
        <td><a href="{% url 'render_file' f.id %}">Html</a> <a href="{% url 'show_file' f.id %}">Raw</a></td>
        </tr>
    {% endfor %}
    </table>
    <p></p>
<h1>Coursework Results</h1>
    <table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Test</th>
        <th>Solution</th>
        <th>Results</th>
        <th>Feedback</th>
        <th>Error Level</th>
        <th>Initiator</th>
        <th>Waiting to Run</th>
    </tr>
    </thead>
    {% for f in results %}
        <tr>
        <td>{{ f.id }}</td>
        <td>{%  if f.test %}
            <a href="{% url 'render_file' f.test.id %}">View ({{ f.test.id }})</a>
        {% endif %}</td>
        <td>{%  if f.solution %}
            <a href="{% url 'render_file' f.solution.id %}">View ({{ f.solution.id }})</a>
        {% endif %}</td>
        <td>{%  if f.results %}
            <a href="{% url 'show_file' f.results.id %}">View ({{ f.results.id }})</a>
        {% endif %}</td>
        <td>{%  if f.feedback %}
            <a href="{% url 'show_file' f.feedback.id %}">View ({{ f.feedback.id }})</a>
        {% endif %}</td>
        <td>{{ f.error_level }}</td>
        <td>{{ f.initiator }}</td>
            {% if f.waiting_to_run %}
                <td><a href="{% url 'force_test_run' f.id %}">Run Now</a></td>
            {% else %}
                <td>Has Run</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}