{% extends "teacher/base.html" %}
{% block title %}Edit Coursework{% endblock %}
{% block content %}
<h1>Coursework Details for {{ coursework.name }}:</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
            {% if cw_form %}
                {{ cw_form }}
                {% else %}
        <label for="id_name">Coursework Name:</label><input id="id_name" maxlength="128" name="name" type="text" required="">
        <label for="id_state">Coursework State:</label><select id="id_state" name="state" required="">
        <option value="i">Invisible to Students</option>
        <option value="c">Closed for Submissions</option>
        <option value="u">Accepting Uploads</option>
        <option value="f">Accepting Feedback</option>
        </select>
        <label for="id_descriptor">Files for Coursework descriptor:</label><input id="id_descriptor" multiple="multiple" name="descriptor" type="file" required="">
        <label for="id_oracle_exec">Files for Oracle implementation:</label><input id="id_oracle_exec" multiple="multiple" name="oracle_exec" type="file" required="">
        <label for="id_signature">Files for Identity test:</label><input id="id_signature" multiple="multiple" name="signature" type="file" required="">
            {% endif %}<input type="submit" value="Save">
    </form>
    <p></p>
    {% for files, name, formname in allfiles %}
    <form method="POST" action="" enctype="multipart/form-data">
        <h3>{{ name }}</h3>
        <a>Delete</a>
        <input id="id_{{ formname }}" multiple="multiple" name="replace_{{ formname }}" type="file" required="">
        <input type="submit" value="Submit new files to replace current">
        {% for type, url, name in files %}
            <a href="{{ url }}" class="{{ type }} file">name</a>
        {% endfor %}
    </form>
    {% endfor %}
{% endblock %}