{% extends "teacher/base.html" %}
{% block title %}View Coursework{% endblock %}
{% block content %}
<h1>Coursework Details for {{ coursework.name }}:</h1>
    <a href="{% url 'edit_cw' coursework.id %}">Edit Coursework</a>
    <p></p>
    <h2>Coursework Files</h2>
    <table class="styled">
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Creator</th>
        <th>Name</th>
        <th>Files</th>
        <th>View</th>
    </tr>
    </thead>
    {% for s, files in submissions %}
    {% for f in files %}
        <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.type }}</td>
        <td>{{ s.creator }}</td>
        <td>{{ s.teacher_name }}</td>
        <td>{{ f }}</td>
        <td><a href="{% url 'download_file' s.id f %}?pretty=1">Html</a> <a href="{% url 'download_file' s.id f %}?show=1">Raw</a></td>
        </tr>
    {% endfor %}
    {% endfor %}
    </table>

    <p></p>
    <h2>Make a new Test Match</h2>
    <form action="{% url 'make_tm' coursework.id %}" method="POST">
        {% csrf_token %}
        {{ tm_form }}
        <input type="submit" value="Create test match"/>
    </form>
    <!--
    <h3>Auto create test matches for users</h3>
    <form action="{% url 'make_tm' coursework.id %}" method="POST">
        {% csrf_token %}
        {{ atm_form }}
        <input type="submit" value="Create test matches"/>
    </form>-->

    <p></p>
    <h2>Test Match Results</h2>
    <table class="styled">
    <thead>
    <tr>
        <th>ID / View</th>
        <th>Test</th>
        <th>Solution</th>
        <th>Feedback</th>
        <th>Run Output</th>
        <th>Test Type</th>
    </tr>
    </thead>
    {% for f in results %}
        <tr>
            <td><a href="{% url 'view_test' coursework.id f.id %}">{{ f.id }}</a></td>
        <td>{%  if f.test %}
            {{ f.test.teacher_name }}
        {% endif %}</td>
        <td>{%  if f.solution %}
           {{ f.solution.teacher_name }}
        {% endif %}</td>
        <td>--</td>
        <td>{% if f.error_level == 0 %}Success{% elif f.error_level != None %}E: {{ f.error_level }}{% else %}Queued...{% endif %}</td>
        <td>{{ f.type }}</td>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url 'run_all_test_in_cw' coursework.id %}">Run all queued tests</a>
{% endblock %}